/*-------------------------------------gloabl*/
html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: Helvetica, sans-serif;
}

a {
  color: #fff;
}

/*.yellow {
  border-radius: 5px;
  color: #fff;
  background-color: yellow;
  border: solid yellow;
} */

.yellow {
  color: #FDEC00;
}

#small {
  font-size: 0.5rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*---------------------------------------nav*/
nav {
  width: 100%;
  height: 40px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #403F45;
  z-index: 1;
  background-color: #fff;
}

ul {
  width: 30%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

li {
    display: inline-block;
}

#mobilenav {
  display: none;
  color: #403F45
}

#logo {
  height: 40px;
}

.navit {
  color: #403F45;
}

/*nav center expand hover effect*/
.navit:after {
  display: block;
  content: '';
  border-bottom: solid 4px #F4DD08;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.navit:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1); /*equal width expansion*/
}

/*-------------------------------------intro*/
#intro {
  height: 100vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 8rem;
  font-weight: bold;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.5)), to(rgba(255,255,255,0.5))), url(media/imgs/robot.jpg) no-repeat fixed center;
  background: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(media/imgs/robot.jpg) no-repeat fixed center;
  background: -o-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(media/imgs/robot.jpg) no-repeat fixed center;
  background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(media/imgs/robot.jpg) no-repeat fixed center;
  background-size: cover;
}
/*
#intro::after, #intro::before {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  content: "";
  background-color: rgba(64,63,69,0.5);
}*/

#introtxt {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#intro1, #intro2, #intro3 {
  position: absolute;
  left: ;
}

#intro1 {
  top: 15%;
  color: #403F45;
}

#intro3 {
  bottom: 15%;
  color: #403F45;
}

/*------------------------------------skills*/
#skills {
  height: 40rem;
  padding-top: 2rem;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  background-color: rgba(27, 28, 28, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#lang, #self {
  width: 50%;
}

#lang {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 3%;
}

#txt {
  height: auto;
  font-size: 1.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#self {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#self img {
  height: 12rem;
  margin: 20px 0 10px 0;
  border-radius: 50%;
}

#self h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #403F45;
  margin-bottom: 5px;
}

#txtbox {
  width: 80%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.2;
}

/*---------------------------------------bar*/
#bar {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  align-items: flex-start;
  -webkit-box-align: flex-start;
  -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  margin-left: 30px;
}

.bars {
  height: 1.6rem;
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #1c1b1b;
  -webkit-box-shadow: -3px -3px 5px #000 inset;
          box-shadow: -3px -3px 5px #000 inset;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
}

.bartxt {
  height: inherit;
  padding-top: 10px;
  padding-left: 5px;
  border-radius: 5px 10px 10px 5px;
  color: #403F45;
  font-weight: bold;
  background-color: #FDEC00;
  -webkit-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
/*---------------------------------------projects*/
#projects {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  color: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(64,63,69,0.5)), to(rgba(64,63,69,0.5))), url(media/imgs/robotoffice.jpeg) no-repeat fixed center;
  background: -webkit-linear-gradient(rgba(64,63,69,0.5), rgba(64,63,69,0.5)), url(media/imgs/robotoffice.jpeg) no-repeat fixed center;
  background: -o-linear-gradient(rgba(64,63,69,0.5), rgba(64,63,69,0.5)), url(media/imgs/robotoffice.jpeg) no-repeat fixed center;
  background: linear-gradient(rgba(64,63,69,0.5), rgba(64,63,69,0.5)), url(media/imgs/robotoffice.jpeg) no-repeat fixed center;
  background-size: cover;
  text-align: center;
}

#projects h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #E6CE1D;
  margin: 0 auto;
  margin-top: 40px;
}

#container {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  -ms-flex-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

.mobbox {
  display: none;
}

.probox {
  height: 45vh;
  width: 22vw;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  font-size: 6rem;
  overflow: hidden;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.5s ease-out;
  transition: -webkit-filter 0.5s ease-out;
  -o-transition: filter 0.5s ease-out;
  transition: filter 0.5s ease-out;
  transition: filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
}

 #probox1{
  margin-left: 0;
}

.probox:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.zoom:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.zoom {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

#cap {
  background: url("media/imgs/capstone.png") center;
  background-size: cover;
}

#optics {
  background: url("media/imgs/optics.png") center;
  background-size: cover;
}

#tea {
  background: url("media/imgs/tea.png") center;
  background-size: cover;
}

#times {
  background: url("media/imgs/times.png") center;
  background-size: cover;
}

#contact {
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c1b1b;
}

#contact h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin: 20px 0 50px 0;
}

#contact-wrap {
  height: 20%;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: #E6CE1D;
}

#contact-wrap span {
  font-weight: bold;
}

#contact-wrap p:nth-child(2) {
  margin: 10px 0;
}

#contact-wrap ul {
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact-wrap ul li:hover {
  position: relative;
  top: 2px;
  left: -2px
}

#contact-wrap ul li {
  font-size: 2rem;
  margin-left: 20px;
  color: #fff;
}

#contact-wrap p:nth-child(4) {
  font-size: 15px;
  margin-top: 10px;
}
/*----------------------------footer*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  color: #fff;
  background-color: #1c1b1b;
}

footer p {
  margin-left: 2rem;
}

footer ul li:nth-child(2) {
  padding: 3px;
}

/*-------------------------------breakpoint 1*/
@media only screen and (max-width: 958px) {

  #skills {
    height: 50rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #lang, #self {
    width: 100%;
  }

  #self {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    line-height: 20px;
  }

  #lang {
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3% 0;
  }
}

/*---------------------------breakpoint 2*/
@media only screen and (max-width: 660px){

  nav ul {
    width: 50%;
  }

  .bars {
    margin: 1px 0;
  }

  #projects {
    padding-top: 10px;
  }

}
/*-------------------------------mobile*/
@media only screen and (max-width: 480px) {
  nav ul {
    display: none;
  }

  #mobilenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navit:hover:after {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
  }

  #mobilenav li:hover {
    position: relative;
    top: 0;
    -webkit-animation: float 0.6s ease-in-out infinite alternate;
            animation: float 0.6s ease-in-out infinite alternate;
  }

  @-webkit-keyframes float {
    from {
      top: 0;
    }
    to {
      top: 5px;
    }
  }

  @keyframes float {
    from {
      top: 0;
    }
    to {
      top: 5px;
    }
  }
/*------------------------*/
  #intro {
    font-size: 4rem;
  }

  #skills {
    height: 60rem;
  }

  .probox {
    height: 10vh;
  }

  .zoom {
    display: none;
  }

  .mobbox {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mobbox:nth-child(2) {
    background-color: #fff;
  }

  .mobbox img {
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  }

  .mobbox i {
    font-size: 20px;
    color: #000;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  }

  .mobbox:hover i, .mobbox:hover img {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }

}
