/*-------------------------------------gloabl*/
body {
  height: 100%;
  font-family: Helvetica, sans-serif;
}

a {
  color: #fff;
}

/*.yellow {
  border-radius: 5px;
  color: #fff;
  background-color: yellow;
  border: solid yellow;
} */

.yellow {
  color: yellow;
}

#small {
  font-size: 0.5rem;
}

.clear {
    clear: both;
}

/*---------------------------------------nav*/
nav {
  width: 100%;
  height: 40px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #403F45;
  z-index: 1;
  background-color: #fff;
}

ul {
  width: 30%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
    display: inline-block;
}

#mobilenav {
  display: none;
  color: #403F45
}

#logo {
  height: 40px;
}

.navit {
  color: #403F45;
}

/*nav center expand hover effect*/
.navit:after {
  display: block;
  content: '';
  border-bottom: solid 4px #F4DD08;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navit:hover:after {
  transform: scaleX(1); /*equal width expansion*/
}

/*-------------------------------------intro*/
#intro {
  height: 42rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1rem;
  font-size: 7rem;
  font-weight: bold;
  background: rgba(255,255,255,0.5) url(media/imgs/robot.jpg) no-repeat fixed center;
  background-size: cover;
}

#introtxt {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#intro1, #intro2, #intro3 {
  position: absolute;
  left: ;
}

#intro1 {
  top: 20%;
  color: #403F45;
}

#intro3 {
  bottom: 20%;
  color: #403F45;
}

/*------------------------------------skills*/
#skills {
  height: 40rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  color: #000;
  background-color: rgba(27, 28, 28, 0.5);
  box-sizing: border-box;
}

#lang, #self {
  width: 50%;
}

#lang {
  height: 80%;
  display: flex;
  margin-top: 3%;
}

#txt {
  height: 100%;
  font-size: 1.4rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.bartxt {
  position: relative;
  left: -10px;
  padding: 8px 10px;
  border-radius: 5px 0 0 5px;
  background-color: #000;
}

#self {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#self img {
  height: 12rem;
  margin: 10px 0;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: filter 0.5s ease-out;
}

#self img:hover {
  filter: grayscale(0%);
}

#self h1 {
  font-size: 3rem;
}

#txtbox {
  width: 80%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.2;
}

/*---------------------------------------bar*/
#bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}

.bars {
  height: 1.4rem;
  width: 5rem; /*change this width somehow*/
  display: flex;
  align-items: center;
  padding: 5px 0 5px 4px;
  color: #fff;
  background-color: #1c1b1b;
}

.bars:nth-child(1) {
    width: 190%;
}

.bars:nth-child(2) {
    width: 190%;
}

.bars:nth-child(3) {
    width: 160%;
}

.bars:nth-child(4) {
    width: 150%;
}

.bars:nth-child(5) {
    width: 280%;
}
/*---------------------------------------projects*/
#projects {
  display: flex;
  flex-direction: column;
  color: #000;
  background-color: rgba(27, 28, 28, 0.5)
}

#projects h1 {
  font-size: 3rem;
  margin: 0 auto;
}

#container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 3rem 0;
}

.mobbox {
  display: none;
}

.probox {
  height: 45vh;
  width: 22vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 6rem;
  overflow: hidden;
  filter: grayscale(100%);
  transition: filter 0.5s ease-out;
}

 #probox1{
  margin-left: 0;
}

.probox:hover {
  filter: grayscale(0);
}

.zoom:hover {
  transform: scale(1.5);
}

.zoom {
  height: 100%;
  width: 100%;
  transition: transform 1s ease-in-out;
}

#cap {
  background: url("media/imgs/capstone.png") center;
  background-size: cover;
}

#optics {
  background: url("media/imgs/optics.png") center;
  background-size: cover;
}

#tea {
  background: url("media/imgs/tea.png") center;
  background-size: cover;
}

#times {
  background: url("media/imgs/times.png") center;
  background-size: cover;
}

#contact {
  height: 30rem;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
  background-color: #1c1b1b;
}

#contact ul {
  width: 50%;
}

form {
  width: 40rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #fff;
}

form h1 {
  font-size: 4rem;
}

input {
  height: 2rem;
  border: none;
  font-size: 1.2rem;
  font-family: Helvetica, sans-serif;
  color: #fff;
  border-bottom: solid #fff;
  background-color:inherit;
}

textarea {
  width: 98.5%;
  font-size: 1.2rem;
  font-family: Helvetica, sans-serif;
  color: #fff;
  border: solid #fff;
  background-color: inherit;
}

#field1 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

#field1 input:nth-child(1) {
  width: 45%;
}

#field1 input:nth-child(2) {
  width: 50%;
}

#btn {
  height: 2.1rem;
  width: 12rem;
  margin-top: 20px;
  display: flex;
  align-self: flex-end;
  overflow: hidden;
  font-size: 1.5rem;
  border: solid 2px yellow;
  border-radius: 5px 5px 5px 5px;
  color: yellow;
  background-color: inherit;
}

#btn p {
  position: relative;
  left: 0;
  transition: left 0.5s ease-in;
}

#btn i {
position: relative;
left: -90px;
width: 100%;
color: yellow;
transition: left 0.5s ease-out;
}

#btn:hover p {
  left: 90px;
}

#btn:hover i {
  left: 90px;
}

#btn:active {
  top: 1px;
}

::placeholder {
  font-size: 1.2rem;
  font-family: Helvetica, sans-serif;
}
/*----------------------------footer*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  color: #fff;
  background-color: #1c1b1b;
}

footer p {
  margin-left: 2rem;
}

footer ul li:nth-child(2) {
  padding: 3px;
}

/*-------------------------------breakpoint 1*/
@media only screen and (max-width: 958px) {

  #skills {
    height: 50rem;
    flex-direction: column;
  }

  #lang, #self {
    width: 100%;
  }

  #self {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    line-height: 20px;
  }

  #lang {
    height: 80%;
    display: flex;
    margin: 3% 0;
  }
}

/*---------------------------breakpoint 2*/
@media only screen and (max-width: 660px){

  nav ul {
    width: 50%;
  }

  .bars {
    margin: 1px 0;
  }

  #projects {
    padding-top: 10px;
  }

/*----------------contact*/
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: #fff;
  }

  form h1 {
    font-size: 3rem;
  }

  #field1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  #field1 input:nth-child(1) {
    width: 80%;
  }

  #field1 input:nth-child(2) {
    width: 80%;
  }

  textarea {
    width: 80%;
  }

  #btn {
    align-self: center;
  }

  #btn p {
    position: relative;
    left: -45px;
    transition: left 0.5s ease-in;
  }

  #btn i {
  position: relative;
  left: -80px;
  width: 100%;
  color: yellow;
  transition: left 0.5s ease-out;
  }

  #btn:hover p {
    left: 90px;
  }

  #btn:hover i {
    left: 40px;
  }

}

/*-------------------------------mobile*/
@media only screen and (max-width: 480px) {
  nav ul {
    display: none;
  }

  #mobilenav {
    display: flex;
  }

  .navit:hover:after {
    transform: scaleX(0);
  }

  #mobilenav li:hover {
    position: relative;
    top: 0;
    animation: float 0.6s ease-in-out infinite alternate;
  }

  @keyframes float {
    from {
      top: 0;
    }
    to {
      top: 5px;
    }
  }
/*------------------------*/
  #intro {
    font-size: 4rem;
  }

  #fullscreen-wrap {
    height: 100vh;
  }

  #skills {
    height: 60rem;
  }

  .probox {
    height: 10vh;
  }

  .zoom {
    display: none;
  }

  .mobbox {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobbox:nth-child(2) {
    background-color: #fff;
  }

  .mobbox img {
    transition: transform 1s ease-in-out;
  }

  .mobbox i {
    font-size: 20px;
    color: #000;
    transition: transform 1s ease-in-out;
  }

  .mobbox:hover i, .mobbox:hover img {
    transform: scale(1.5);
  }

}
